html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    display: flex;
    background-color: #b3717e;
    flex-flow: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 90px;
    box-sizing: border-box;
}

#logo{
    color: white;
    font-size: 35px;
    text-decoration: none;
}

#icon-cart{
    transform: scale(2);
}

#main{
    width: 100%;
    display: flex;
    flex-flow: column;
}

#menu-bar{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 150px;
    box-sizing: border-box;
    background-color: #d5bec3;
    
}

.menu-item{
    color: #fcfbfb;
    font-size: xx-large;
    text-decoration: none
}

.strip{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    border: 3px solid #9c5d5f;
    box-sizing: border-box;
}

#trending-strip{
    margin-top: 50px;
}

.item-container{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.strip-item{
    width: 250px;
    height: 150px;
    background-color: #d5bec3;
    border: solid 2px #9c5d5f;
}

.strip-title{
    color: #b3717e;
    font-size: 30px;
    margin-bottom: 40px;
    font-style: italic;
}

footer{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #b3717e;
    padding: 30px 50px;
    box-sizing: border-box;
}

#contact-info-title{
    color: #ffffff;
    font-size: 25px;
    font-style: italic;
}

#contact-address span, #contact-email span, #contact-number span{
    color: white;
    margin-left: 3px;
}

#copyright{
    align-self: flex-end;
    color: white;
    font-style: italic;
}

#shop{
    width: 100%;
    display: flex;
    flex-flow: row;
}

#side-bar{
    width: 15%;
    display: flex;
    flex-flow: column;
    border: solid 2px #9c5d5f;
}

.side-bar-break{
    width: 100%;
    height: 3px;
    background-color: #9c5d5f;
}

.side-bar-section{
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 20px 20px;
    box-sizing: border-box;
}

#color-box-container{
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    box-sizing: border-box;
}

.color-box{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 3px;
    border: solid 2px #9c5d5f;
}

.side-bar-title{
    color: #7d2626;
    font-size: 25px;
}

#price-container{
    margin-top: 30px;
}

.price-range{
    color: #7d2626;
    display: block;
}

#design-filter{
    margin-top: 30px;
}

.design-option{
    display: block;
    color: #7d2626;
}

#shop-container{
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #9c5d5f;
}

.shop-item{
    width: 250px;
    height: 250px;
    border: solid 2px #9c5d5f;
    margin: 30px 20px;
}

.item-img{
    width: 100%;
    height: 70%;
    background-color: #d5bec3;
}

.item-original-price{
    text-decoration: line-through;
    color: #b8b8b8;
}

